USE [master]
GO
/****** Object:  Database [AutoVed]    Script Date: 19.10.2023 19:18:57 ******/
CREATE DATABASE [AutoVed]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoVed', FILENAME = N'C:\Users\User\AutoVed.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutoVed_log', FILENAME = N'C:\Users\User\AutoVed_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoVed].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoVed]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 19.10.2023 19:18:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19.10.2023 19:18:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ИС_2011]    Script Date: 19.10.2023 19:18:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ИС_2011](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [login], [password], [role]) VALUES (1, N'fvv', N'123', 2)
INSERT [dbo].[Account] ([id], [login], [password], [role]) VALUES (2, N'shnm', N'123', 1)
INSERT [dbo].[Account] ([id], [login], [password], [role]) VALUES (2003, N'shea', N'123', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (1, N'Студент')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (2, N'Преподаватель')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[ИС_2011] ON 

INSERT [dbo].[ИС_2011] ([Id], [FIO]) VALUES (1, N'Шунков Никита Михайлович')
INSERT [dbo].[ИС_2011] ([Id], [FIO]) VALUES (2, N'Глотов Сергей Михайлович')
INSERT [dbo].[ИС_2011] ([Id], [FIO]) VALUES (3, N'Струщенко Вячеслав павлович')
SET IDENTITY_INSERT [dbo].[ИС_2011] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
USE [master]
GO
